---
layout: default
title: 2019 Conference Agenda
year: 2019
---

<!--  start header   -->
<section id="header" class="become-sponsor">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="become-sponsor-item">
                        <h2>Conference Schedule 2019</h2>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col-md-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!--  start header   -->

<!-- start event-schedule  -->
<section class="event-schedule">
    <div class="container">
        <div class="row">
            <div class="event-schedule-inner">
                <div class="event-schedule-inner-fixed">
                    <!-- Nav tabs -->
                    <ul id="myTab" class="nav-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#first-date" aria-controls="first-date" role="tab" data-toggle="tab">
                            <strong>26</strong>
                            <span class="date">Thursday<br>September, 2019</span>
                        </a></li>
                        <li role="presentation"><a href="#second-date" aria-controls="second-date" role="tab" data-toggle="tab">
                            <strong>27</strong>
                            <span class="date">Friday<br>September, 2019</span>
                        </a></li>
                    </ul>
                    <p><em>Talk times are subject to change</em></p>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="first-date">
                            <div class="schedule-wrapper">
                                <table>
                                    <thead class="schedule-item header">
                                        <tr>
                                            <th class="item-inner">
                                                <span><i class="fa fa-calendar"></i></span>
                                                <span>Time</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-list-alt"></i></span>
                                                <span>Room A</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-microphone"></i></span>
                                                <span>Room B</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <span>Room C</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>08:30</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Breakfast / Registration</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>09:00</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-speaker">Welcome to Open F# 2019!</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>09:15</span></td>
                                            {% include schedule-item.html speakerKey='KRZYSZTOF CIESLAK' talkKey='Ionide - A OSS Story' size='3' %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>10:05</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>10:30</span></td>
                                            {% include schedule-item.html size='1' speakerKey='SCOTT WLASCHIN' talkKey="The F#er's Functional Programming Toolkit" %}
                                            {% include schedule-item.html size='1' speakerKey='FRANK KRUEGER' talkKey="TBA" %}
                                            <td rowspan="4" class="item-inner event-schedule-speaker">Open space</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>11:20</span></td>
                                            <td colspan="2" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>11:40</span></td>
                                            {% include schedule-item.html size='1' speakerKey='RYAN KILKENNY' talkKey="Text Adventures In Babysitting" %}
                                            {% include schedule-item.html size='1' speakerKey='GAD BERGER' talkKey="Abstracting IO using F#" %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>12:30</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Lunch</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>14:00</span></td>
                                            {% include schedule-item.html size='1' speakerKey='KEVIN FEASEL' talkKey="A Map to Success: Functional Programming for Database Developers" %}
                                            {% include schedule-item.html size='1' speakerKey='WAEL EL ORAIBY' talkKey="5 Millions bid request/s, 2ms Max Response Time - The Road to Damascus" %}
                                            <td class="item-inner event-schedule-speaker">Open space</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>14:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>15:00</span></td>
                                            {% include schedule-item.html size='1' speakerKey='ERIC HARDING' talkKey="Developing a Fabulous Mobile App" %}
                                            {% include schedule-item.html size='1' speakerKey='COLIN GRAVILL' talkKey="Browser-based intensive computation with F#" %}
                                            <td class="item-inner event-schedule-speaker">Open space</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>15:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>16:00</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-speaker event-schedule-lightning">
                                                <div class="title">Lightning Talks</div>
                                                {% include lightning-talk.html speakerKey='KATE CURRAN' talkKey="Learning F# on the job as a programming novice" %}
                                            </td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>16:30</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-speaker">Day 1 Wrap-up!</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>16:45</span></td>
                                            <td colspan="3" class="item-inner event-schedule-speaker">
                                                <div>
                                                    <a href="https://broadwaystudios.com/" target="_blank">
                                                        <div class="title">AFTER PARTY</div>
                                                        <div>Broadway venue, SF</div>
                                                    </a>
                                                    <div class="schedule-speaker-tag">
                                                        <div class="speaker-tag">
                                                            <ul class="tag">
                                                                <li><a href="#">drinks</a></li>
                                                                <li><a href="#">bites</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="talk-level">
                                                            <img src="{{ site.baseurl }}public/assets/animals/bear.png" alt="This talk is Bear level" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- tab pane 1 end -->
                        <div role="tabpanel" class="tab-pane fade" id="second-date">
                            <div class="schedule-wrapper">
                                <table>
                                    <thead class="schedule-item header">
                                        <tr>
                                            <th class="item-inner">
                                                <span><i class="fa fa-calendar"></i></span>
                                                <span>Time</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-list-alt"></i></span>
                                                <span>Room A</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-microphone"></i></span>
                                                <span>Room B</span>
                                            </th>
                                            <th class="item-inner">
                                                <span><i class="fa fa-map-marker"></i></span>
                                                <span>Room C</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>08:30</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Breakfast</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>09:00</span></td>
                                            {% include schedule-item.html speakerKey='GINA MARIE MAINI' talkKey='Future Proof Library Design, Examples in F#' size='1' %}
                                            {% include schedule-item.html speakerKey='JÉRÉMIE CHASSAING' talkKey='#NoMemAlloc' size='1' duration=3 %}
                                            <td rowspan="3" class="item-inner event-schedule-speaker">Open space</td>
                                            <!-- {% include schedule-item.html speakerKey='GINA MARIE MAINI' talkKey='Future Proof Library Design, Examples in F#' size='1' duration=3 %} -->
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>09:50</span></td>
                                            <td class="item-inner event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>10:00</span></td>
                                            {% include schedule-item.html speakerKey='JOHN AZARIAH' talkKey='Lego Bricks, Railway Tracks, and Paper Swans (Building Blocks From The Functional World)' size='1' %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>10:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>11:00</span></td>
                                            {% include schedule-item.html speakerKey='CHET HUSK' talkKey='An introduction to profiling and performance analysis in .NET Core 3' size='1' %}
                                            {% include schedule-item.html speakerKey='BRETT HALL' talkKey='Using Free Monads to Simplify Workflows' size='1' duration=3 %}
                                            {% include schedule-item.html speakerKey='BRETT ROWBERRY' talkKey='Unit Conversion Service' size='1' duration=3 %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>11:50</span></td>
                                            <td colspan="1" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>12:00</span></td>
                                            {% include schedule-item.html speakerKey='PAUL ORLAND' talkKey='Quantum Mechanics for Functional Programmers' size='1' %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>12:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Lunch</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>14:00</span></td>
                                            {% include schedule-item.html speakerKey='SCOTT SCITES' talkKey='Realtime Data with Bolero and SignalR' size='2' %}
                                            <td class="item-inner event-schedule-speaker">Open space</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>14:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>15:00</span></td>
                                            {% include schedule-item.html speakerKey='PHILLIP CARTER' talkKey='F# in 2020' size='3' %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>15:50</span></td>
                                            <td colspan="3" class="item-inner special event-schedule-break">Break</td>
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>16:00</span></td>
                                            {% include schedule-item.html speakerKey='MAXIME MANGEL' talkKey='User-friendly apps start with dev-friendly tools' size='3' %}
                                        </tr>
                                        <tr class="schedule-item">
                                            <td class="item-inner event-time"><span>16:50</span></td>
                                            <td colspan="3" class="item-inner event-schedule-speaker">
                                                Closing Open Fsharp 2019
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>  <!-- tab pane 2 end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="coc" class="national-conference">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="conference-main">
                    <div class="section-head">
                        <h2 class="header-title">Code of conduct</h2>
                        <p class="header-desc">Be respectful, be open, and be considerate.</p>
                    </div>
                    <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity
                        and expression, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not
                        tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue,
                        including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned
                        or expelled from the conference without a refund at the discretion of the conference organisers.</p>
                    <div class="button-group">
                        <a href="http://confcodeofconduct.com/" class="custom-btn hvr-bounce-to-bottom" target="_blank">Read More</a>
                    </div>
                </div><!-- /.conference-main -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="conference-info-outer">
                    <div class="conference-info">
                        <a href="http://diversitycharter.org/" target="_blank">
                            <img src="{{ site.baseurl }}public/assets/sharelogo_medium.png" alt="Diversity charter">
                        </a>
                    </div><!-- /.conference-info -->
                </div><!-- /.conference-info-outer -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
