---
layout: default
title: 2019 Open F# Agenda
year: 2019
---

<section id="header" class="become-sponsor">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="become-sponsor-item">
                        <h2>Conference Schedule 2019</h2>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col-md-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!--  start header   -->

<!-- /Copied from https://codepen.io/mrwweb/pen/rgPOOd?editors=1100#0 -->
<section class="event-schedule">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day
                    1</a></li>
            <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day 2</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="day1">
                <div class="schedule" aria-labelledby="schedule-heading">

                    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">
                        <span><i class="fa fa-list-alt"></i></span>
                        <span>Room A</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">
                        <span><i class="fa fa-microphone"></i></span>
                        <span>Room B</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Room C</span>
                    </span>

                    <h2 class="time-slot" style="grid-row: time-0830;">0830</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0830 / time-0900;">
                        <h3 class="session-title">Breakfast / Registration</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-0900;">0900</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0900 / time-0915;">
                        <h3 class="session-title">Welcome to Open F# 2019!</h3>
                    </div>
                    <h2 class="time-slot" style="grid-row: time-0915;">0930</h2>

                    {% include schedule-item-grid.html speakerKey='KRZYSZTOF CIESLAK' talkKey='Ionide - A OSS Story' room='a' tracks='track-1-start / track-3-end' times='time-0915 / time-1005' %}

                    <h2 class="time-slot" style="grid-row: time-1000;">1005</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1005 / time-1030;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1030;">1030</h2>

                    {% include schedule-item-grid.html speakerKey='SCOTT WLASCHIN' talkKey="The F#er's Functional Programming Toolkit" room='a' tracks='track-1-start / track-1-end' times='time-1030 / time-1120' %}
                    {% include schedule-item-grid.html speakerKey='FRANK KRUEGER' talkKey="Why I wish I wrote my App in F#" room='b' tracks='track-2-start / track-2-end' times='time-1030 / time-1120' %}

                    <h2 class="time-slot" style="grid-row: time-1100;">1120</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1120 / time-1140;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>


                    <h2 class="time-slot" style="grid-row: time-1130;">1140</h2>

                    {% include schedule-item-grid.html speakerKey='RYAN KILKENNY' talkKey="Text Adventures In Babysitting" room='a' tracks='track-1-start / track-1-end' times='time-1140 / time-1230' %}
                    {% include schedule-item-grid.html speakerKey='GAD BERGER' talkKey="Abstracting IO using F#" room='b' tracks='track-2-start / track-2-end' times='time-1140 / time-1230' %}

                    <h2 class="time-slot" style="grid-row: time-1230;">1230</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1230 / time-1400;">
                        <h3 class="session-title">Lunch</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1400;">1400</h2>

                    {% include schedule-item-grid.html speakerKey='KEVIN FEASEL' talkKey="A Map to Success: Functional Programming for Database Developers" room='a' tracks='track-1-start / track-1-end' times='time-1400 / time-1450' %}
                    {% include schedule-item-grid.html speakerKey='WAEL EL ORAIBY' talkKey="5 Millions bid request/s, 2ms Max Response Time - The Road to Damascus" room='b' tracks='track-2-start / track-2-end' times='time-1400 / time-1450' %}

                    <h2 class="time-slot" style="grid-row: time-1430;">1450</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1450 / time-1500;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1500;">1500</h2>

                    {% include schedule-item-grid.html speakerKey='ERIC HARDING' talkKey="Developing a Fabulous Mobile App" room='a' tracks='track-1-start / track-1-end' times='time-1500 / time-1550' %}
                    {% include schedule-item-grid.html speakerKey='COLIN GRAVILL' talkKey="Browser-based intensive computation with F#" room='b' tracks='track-2-start / track-2-end' times='time-1500 / time-1550' %}

                    <h2 class="time-slot" style="grid-row: time-1550;">1550</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1550 / time-1600;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1600;">1600</h2>

                    <div class="session track-all lightning-track"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1600 / time-1630;">
                        <h3 class="session-title">Lightning Talks ⚡</h3>

                        <div class="lightning-talks">
                            {% include schedule-item-lightning-grid.html speakerKey='KATE CURRAN' talkKey="Learning F# on the job as a programming novice" %}
                            {% include schedule-item-lightning-grid.html speakerKey='MARNEE DEARMAN' talkKey="F# and amateur radio: A match made in heaven" %}
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="day2">
                <div class="schedule" aria-labelledby="schedule-heading">

                    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">
                        <span><i class="fa fa-list-alt"></i></span>
                        <span>Room A</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">
                        <span><i class="fa fa-microphone"></i></span>
                        <span>Room B</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Room C</span>
                    </span>

                    <h2 class="time-slot" style="grid-row: time-0830;">0830</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0830 / time-0900;">
                        <h3 class="session-title">Breakfast</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-0900;">0900</h2>

                    {% include schedule-item-grid.html speakerKey='GINA MARIE MAINI' talkKey='Future Proof Library Design, Examples in F#' room='a' tracks='track-1-start / track-1-end' times='time-0900 / time-0950' %}
                    {% include schedule-item-grid.html speakerKey='JÉRÉMIE CHASSAING' talkKey='#NoMemAlloc' room='b' tracks='track-2-start / track-2-end' times='time-0900 / time-1050' %}

                    <h2 class="time-slot" style="grid-row: time-0950;">0950</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-1-end; grid-row: time-0950 / time-1000;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1000;">1000</h2>

                    {% include schedule-item-grid.html speakerKey='JOHN AZARIAH' talkKey='Lego Bricks, Railway Tracks, and Paper Swans (Building Blocks From The Functional World)' room='a' tracks='track-1-start / track-1-end' times='time-1000 / time-1050' %}

                </div>
            </div>
        </div>
    </div>
</section>

<section id="coc" class="national-conference">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="conference-main">
                    <div class="section-head">
                        <h2 class="header-title">Code of conduct</h2>
                        <p class="header-desc">Be respectful, be open, and be considerate.</p>
                    </div>
                    <p>Our conference is dedicated to providing a harassment-free conference experience for everyone,
                        regardless of gender, gender identity
                        and expression, age, sexual orientation, disability, physical appearance, body size, race, or
                        religion (or lack thereof). We do not
                        tolerate harassment of conference participants in any form. Sexual language and imagery is not
                        appropriate for any conference venue,
                        including talks, workshops, parties, Twitter and other online media. Conference participants
                        violating these rules may be sanctioned
                        or expelled from the conference without a refund at the discretion of the conference organisers.
                    </p>
                    <div class="button-group">
                        <a href="http://confcodeofconduct.com/" class="custom-btn hvr-bounce-to-bottom"
                            target="_blank">Read More</a>
                    </div>
                </div><!-- /.conference-main -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="conference-info-outer">
                    <div class="conference-info">
                        <a href="http://diversitycharter.org/" target="_blank">
                            <img src="{{ site.baseurl }}public/assets/sharelogo_medium.png" alt="Diversity charter">
                        </a>
                    </div><!-- /.conference-info -->
                </div><!-- /.conference-info-outer -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>