---
layout: default
title: 2019 Open F# Agenda
year: 2019
---

<section id="header" class="become-sponsor">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="become-sponsor-item">
                        <h2>Conference Schedule 2019</h2>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col-md-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!--  start header   -->

<!-- /Copied from https://codepen.io/mrwweb/pen/rgPOOd?editors=1100#0 -->
<section class="event-schedule">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="{{ site.baseurl }}agenda/#day1" aria-controls="day1" role="tab" data-toggle="tab">Thur Sept 26</a></li>
            <li role="presentation"><a href="{{ site.baseurl }}agenda/#day2" aria-controls="day2" role="tab" data-toggle="tab">Fri Sept 27</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="day1">
                <div class="schedule" aria-labelledby="schedule-heading">

                    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">
                        <span><i class="fa fa-list-alt"></i></span>
                        <span>Room A</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">
                        <span><i class="fa fa-microphone"></i></span>
                        <span>Room B</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Room C</span>
                    </span>

                    <h2 class="time-slot" style="grid-row: time-0830;">08:30</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0830 / time-0900;">
                        <h3 class="session-title">Breakfast / Registration</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-0900;">09:00</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0900 / time-0915;">
                        <h3 class="session-title">Welcome to Open F# 2019!</h3>
                    </div>
                    <h2 class="time-slot" style="grid-row: time-0915;">09:15</h2>

                    {% include schedule-item-grid.html speakerKey='KRZYSZTOF CIESLAK' talkKey='Ionide - A OSS Story' tracks='track-1-start / track-3-end' times='time-0915 / time-1005' %}

                    <h2 class="time-slot" style="grid-row: time-1005;">10:05</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1005 / time-1030;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>

                    {% include schedule-item-grid.html speakerKey='SCOTT WLASCHIN' talkKey="The F#er's Functional Programming Toolkit" tracks='track-1-start / track-1-end' times='time-1030 / time-1120' %}
                    {% include schedule-item-grid.html speakerKey='FRANK KRUEGER' talkKey="Why I wish I wrote my App in F#" tracks='track-2-start / track-2-end' times='time-1030 / time-1120' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-1030 / time-1120;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1120;">11:20</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1120 / time-1140;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1140;">11:40</h2>

                    {% include schedule-item-grid.html speakerKey='RYAN KILKENNY' talkKey="Text Adventures In Babysitting" tracks='track-1-start / track-1-end' times='time-1140 / time-1230' %}
                    {% include schedule-item-grid.html speakerKey='GAD BERGER' talkKey="Abstracting IO using F#" tracks='track-2-start / track-2-end' times='time-1140 / time-1230' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-1140 / time-1230;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1230 / time-1400;">
                        <h3 class="session-title">Lunch</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

                    {% include schedule-item-grid.html speakerKey='KEVIN FEASEL' talkKey="A Map to Success: Functional Programming for Database Developers" tracks='track-1-start / track-1-end' times='time-1400 / time-1450' %}
                    {% include schedule-item-grid.html speakerKey='WAEL EL ORAIBY' talkKey="5 Millions bid request/s, 2ms Max Response Time - The Road to Damascus" tracks='track-2-start / track-2-end' times='time-1400 / time-1450' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-1400 / time-1450;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1450;">14:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1450 / time-1500;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1500;">15:00</h2>

                    {% include schedule-item-grid.html speakerKey='ERIC HARDING' talkKey="Developing a Fabulous Mobile App" tracks='track-1-start / track-1-end' times='time-1500 / time-1550' %}
                    {% include schedule-item-grid.html speakerKey='COLIN GRAVILL' talkKey="Browser-based intensive computation with F#" tracks='track-2-start / track-2-end' times='time-1500 / time-1550' %}

                    <div class="session track-all" style="grid-column: track-3-start / track-3-end; grid-row: time-1500 / time-1550;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1550;">15:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1550 / time-1600;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

                    <div class="session track-all lightning-track"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1600 / time-1630;">
                        {% include schedule-item-lightning-grid.html speakerKey='KATE CURRAN' talkKey="Learning F# on the job as a programming novice" %}
                        {% include schedule-item-lightning-grid.html speakerKey='MARNEE DEARMAN' talkKey="F# and amateur radio: A match made in heaven" %}
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1630 / time-1645;">
                        <h3 class="session-title">Day 1 Wrap-up!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1800 / time-1845;">
                        <h3 class="session-title">AFTER PARTY</h3>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="day2">
                <div class="schedule" aria-labelledby="schedule-heading">

                    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">
                        <span><i class="fa fa-list-alt"></i></span>
                        <span>Room A</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">
                        <span><i class="fa fa-microphone"></i></span>
                        <span>Room B</span>
                    </span>
                    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Room C</span>
                    </span>

                    <h2 class="time-slot" style="grid-row: time-0830;">08:30</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-0830 / time-0900;">
                        <h3 class="session-title">Breakfast</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-0900;">09:00</h2>

                    {% include schedule-item-grid.html speakerKey='RICCARDO TERRELL' talkKey='Building your perfect world with concurrent combinators!' tracks='track-1-start / track-1-end' times='time-0900 / time-0950' %}
                    {% include schedule-item-grid.html speakerKey='JÉRÉMIE CHASSAING' talkKey='#NoMemAlloc' tracks='track-2-start / track-2-end' times='time-0900 / time-1050' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-0900 / time-1050;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-0950;">09:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-1-end; grid-row: time-0950 / time-1000;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>

                    {% include schedule-item-grid.html speakerKey='JOHN AZARIAH' talkKey='Lego Bricks, Railway Tracks, and Paper Swans (Building Blocks From The Functional World)' tracks='track-1-start / track-1-end' times='time-1000 / time-1050' %}

                    <h2 class="time-slot" style="grid-row: time-1050;">10:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1050 / time-1100;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>

                    {% include schedule-item-grid.html speakerKey='CHET HUSK' talkKey='An introduction to profiling and performance analysis in .NET Core 3' tracks='track-1-start / track-1-end' times='time-1100 / time-1150' %}
                    {% include schedule-item-grid.html speakerKey='BRETT HALL' talkKey='Using Free Monads to Simplify Workflows' tracks='track-2-start / track-2-end' times='time-1100 / time-1250' %}
                    {% include schedule-item-grid.html speakerKey='BRETT ROWBERRY' talkKey='Unit Conversion Service' tracks='track-3-start / track-3-end' times='time-1100 / time-1250' %}

                    <h2 class="time-slot" style="grid-row: time-1150;">11:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-1-end; grid-row: time-1150 / time-1200;">
                        <h3 class="session-title">Take a break!</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>
                    {% include schedule-item-grid.html speakerKey='PAUL ORLAND' talkKey='Quantum Mechanics for Functional Programmers' tracks='track-1-start / track-1-end' times='time-1200 / time-1250' %}

                    <h2 class="time-slot" style="grid-row: time-1250;">12:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1250 / time-1400;">
                        <h3 class="session-title">Lunch</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

                    {% include schedule-item-grid.html speakerKey='SCOTT SCITES' talkKey='Realtime Data with Bolero and SignalR' tracks='track-1-start / track-2-end' times='time-1400 / time-1450' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-1400 / time-1450;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1450;">14:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1450 / time-1500;">
                        <h3 class="session-title">Break</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1500;">15:00</h2>

                    {% include schedule-item-grid.html speakerKey='PHILLIP CARTER' talkKey='F# in 2020' tracks='track-1-start / track-2-end' times='time-1500 / time-1550' %}

                    <div class="session track-all"
                        style="grid-column: track-3-start / track-3-end; grid-row: time-1500 / time-1550;">
                        <h3 class="session-title">Open Space</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1550;">15:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1550 / time-1600;">
                        <h3 class="session-title">Break</h3>
                    </div>

                    <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

                    {% include schedule-item-grid.html speakerKey='MAXIME MANGEL' talkKey='User-friendly apps start with dev-friendly tools' tracks='track-1-start / track-3-end' times='time-1600 / time-1650' %}

                    <h2 class="time-slot" style="grid-row: time-1650;">16:50</h2>

                    <div class="session track-all"
                        style="grid-column: track-1-start / track-3-end; grid-row: time-1650 / time-1700;">
                        <h3 class="session-title">Closing Open Fsharp 2019</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="coc" class="national-conference">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="conference-main">
                    <div class="section-head">
                        <h2 class="header-title">Code of conduct</h2>
                        <p class="header-desc">Be respectful, be open, and be considerate.</p>
                    </div>
                    <p>Our conference is dedicated to providing a harassment-free conference experience for everyone,
                        regardless of gender, gender identity
                        and expression, age, sexual orientation, disability, physical appearance, body size, race, or
                        religion (or lack thereof). We do not
                        tolerate harassment of conference participants in any form. Sexual language and imagery is not
                        appropriate for any conference venue,
                        including talks, workshops, parties, Twitter and other online media. Conference participants
                        violating these rules may be sanctioned
                        or expelled from the conference without a refund at the discretion of the conference organisers.
                    </p>
                    <div class="button-group">
                        <a href="http://confcodeofconduct.com/" class="custom-btn hvr-bounce-to-bottom"
                            target="_blank">Read More</a>
                    </div>
                </div><!-- /.conference-main -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="conference-info-outer">
                    <div class="conference-info">
                        <a href="http://diversitycharter.org/" target="_blank">
                            <img src="{{ site.baseurl }}public/assets/sharelogo_medium.png" alt="Diversity charter">
                        </a>
                    </div><!-- /.conference-info -->
                </div><!-- /.conference-info-outer -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>