<section id="venue" class="contact-section">
	<div class="col-md-6">
		<div class="row">
			<div class="contact-section-inner">
				<div class="col-sm-6 col-md-6">
					<div class="row">
						<div class="contact-item-outer">
							<div class="contact-item">
								<span><i class="fa fa-map-marker"></i></span>
								<div class="content">
									<h4 class="ccr-name">San Francisco</h4>
									<p class="ccr-detail">Broadway Studios, 435 Broadway St., San Francisco CA 94133</p>
								</div>
							</div>
						</div><!-- /.contact-item-outer -->
					</div><!-- /.row -->
				</div><!-- /.col-sm-4 col-md-4 -->
				<div class="col-sm-6 col-md-6">
					<div class="row">
						<div class="contact-item-outer">
							<div class="contact-item">
								<span><i class="fa fa-envelope"></i></span>
								<div class="content">
									<h4 class="ccr-name">E-Mail</h4>
									<a href="mailto:info@openfsharp.org" class="ccr-detail">info@openfsharp.org</a>
								</div>
							</div>
						</div><!-- /.contact-item-outer -->
					</div><!-- /.row -->
				</div><!-- /.col-sm-4 col-md-4 -->
			</div><!-- /.contact-section-inner -->
		</div><!-- /.row -->
	</div><!-- /.col-md-6 -->

	<div class="col-md-6">
		<div class="row">
				<div id="mc_embed_signup" class="newsletter">
					<form action="//open-fsharp.us15.list-manage.com/subscribe/post?u=358d125a241ec7424fa971a95&amp;id=a7ff20f4ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<label>Newsletter</label>
						<div id="mc_embed_signup_scroll" class="input">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_358d125a241ec7424fa971a95_a7ff20f4ca" tabindex="-1" value=""></div>
							<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button submit">
							</div>
						</div>
					</form>
				</div><!--End mc_embed_signup-->
		</div><!-- /.row -->
	</div><!-- /.col-md-6 -->
</section>