<!--  footer start   -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="f-widget">
                            <h3 class="widget-title">open fsharp</h3>
                            <div class="excerpt">
                                A conference to learn, create and connect with F# and its Community.
                            </div>
                            <ul class="social-media">
                                <li><a href="https://twitter.com/openfsharp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/openfsharp/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- /.f-widget -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="f-widget">
                        <h3 class="widget-title">Our team</h3>
                        <ul class="small-post-list">
                            <li class="small-post-item">
                                <a href="https://twitter.com/brandewinder" class="post-thumb">Mathias Brandewinder</a>
                            </li>
                            <li class="small-post-item">
                                <a href="https://twitter.com/selketjah" class="post-thumb">Gien Verschatse</a>
                            </li>
                            <li class="small-post-item">
                                <a href="https://twitter.com/mrjabbott" class="post-thumb">Jeremy Abbott</a>
                            </li>
                        </ul>
                    </div><!-- /.f-widget -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="row">
                        <div class="f-widget">
                            <h3 class="widget-title">Tags</h3>
                            <ul class="tag">
                                <!-- Gets all speakers, maps their talks, and then flattens talks if a speaker has more than one in a year -->
                                {% assign talks = site.data.speakers[2019] | map: 'talks' | compact %}
                                <!-- Gets tags off each talk, flattens them, converts to a comma delimited string -->
                                <!-- downcases string, splits back into an array, gets uniq tags, sorts them -->
                                {% assign talkTags = talks | map: 'tags' | compact | compact | join: ',' | downcase | split: ',' | uniq | sort %}
                                {% for tag in talkTags %}
                                <li><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                                {{ myarray }}
                            </ul>
                        </div><!-- /.f-widget -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <p>Copyright &copy; 2019</p>
    </div>
</footer>
<!--  footer end   -->