<head>
	<meta charset="UTF-8">
	<title>Open F#</title>

	<!-- Meta -->
    <meta name="description" content="Open F# conference">
    <meta name="keywords" content="fsharp, F#, conference, fsharp conference, fsharp conference SF">
    <meta name="author" content="Open-fsharp">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}site.webmanifest">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Framework Styles -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/bootstrap.min.css"/>

    <!-- Plugins Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/jquery.fs.boxer.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/flexslider.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/swiper.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/hover-min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/animate.css">
    <!-- Project Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/responsive.css">

    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
</head>