<head>
	<meta charset="UTF-8">
	<title>Open F#</title>

	<!-- Meta --> 
    <meta name="description" content="Open F# conference">
    <meta name="keywords" content="fsharp, F#, conference, fsharp conference, fsharp conference SF">
    <meta name="author" content="Open-fsharp">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Framework Styles -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css"/>

    <!-- Fonts Styles -->
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css"/> 

    <!-- Plugins Styles --> 
    <link rel="stylesheet" href="public/css/jquery.fs.boxer.min.css">
    <link rel="stylesheet" href="public/css/flexslider.css">
    <link rel="stylesheet" href="public/css/swiper.min.css">
    <link rel="stylesheet" href="public/css/hover-min.css">
    <link rel="stylesheet" href="public/css/animate.css">
    <!-- Project Styles -->
    <link rel="stylesheet" href="public/css/style.css"> 
    <link rel="stylesheet" href="public/css/responsive.css"> 

	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
</head>