<ul class="nav navbar-nav">
    <li><a href="{{ site.baseurl }}#about">About</a></li>
    <li><a href="{{ site.baseurl }}#speakers">Speakers</a></li>
    <li><a href="{{ site.baseurl }}#tickets">Tickets</a></li>
    <li><a href="{{ site.baseurl }}#workshop">Workshops</a></li>
    <li><a href="{{ site.baseurl }}#sponsors">Sponsors</a></li>
    <li><a href="{{ site.baseurl }}#venue">Location</a></li>									
    <li><a href="{{ site.baseurl }}#coc">Code of conduct</a></li>
    <li class="dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-376">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agenda</a>
        <ul class="dropdown-menu sub-menu menu-sub-content">
            <li><a href="{{ site.baseurl }}agenda/workshop">Workshop</a></li>
            <li><a href="{{ site.baseurl }}agenda/conference">Conference</a></li>
        </ul>
    </li>
    <li class="dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-376">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2017</a>
        <ul class="dropdown-menu sub-menu menu-sub-content">
            <li><a href="{{ site.baseurl }}2017/speakers">Speakers</a></li>
            <li><a href="{{ site.baseurl }}2017/sponsors">Sponsors</a></li>
            <li><a href="{{ site.baseurl }}2017/schedule">Schedule</a></li>
        </ul>
    </li>
</ul>