<ul class="nav navbar-nav">
    <li><a href="{{ site.baseurl }}#about">About</a></li>
    <li><a href="{{ site.baseurl }}#speakers">Speakers</a></li>
    <li><a href="{{ site.baseurl }}#sponsors">Sponsors</a></li>
    <li><a href="{{ site.baseurl }}#tickets">Tickets</a></li>
    <li><a href="{{ site.baseurl }}schedule.html">Schedule</a></li>
    <li><a href="{{ site.baseurl }}#venue">Location</a></li>									
    <li><a href="{{ site.baseurl }}#coc">Code of conduct</a></li>																	
</ul>