{% assign speaker = site.data.speakers[page.year] | where: "name", include.speakerKey | first %}
{% assign talk = speaker.talks | where: "title", include.talkKey | first %}
{% assign room = include.room %}
{% assign tracks = include.tracks %}
{% assign times = include.times %}

<div class="session room-{{room}}" style="grid-column: {{tracks}}; grid-row: {{times}};">
    <h3 class="session-title"><a href="{{ site.baseurl }}{{speaker.speakerUrl}}">{{talk.title}}</a></h3>
    <span class="session-presenter">{{speaker.name}}</span>
</div>