<section id="sponsors" class="sponsor">
    <div class="container">
        {% assign sponsors = site.data.sponsors[page.year] %}
        {% if sponsors %}
        <div class="row">
            <div class="sponsor-wrapper">
                <div class="ccr-sponsor">
                    <h3 class="sponsor-title">Platinum Sponsors</h3>
                    <div class="supporters">
                        {% for sponsor in sponsors.platinumSponsors %}

                        {% if forloop.first == true %}
                        <div class="row">
                        {% else %}
                        <div class="row platinum-row-end">
                        {% endif %}

                            <div class="col-sm-4 col-md-4">
                                <div class="platinum-item-inner">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="platinum-item-inner">
                                    <a href="{{sponsor.siteUrl}}" target="_blank">
                                        <img class="platinum-item" src="{{ site.baseurl }}{{sponsor.imagePath}}" alt="{{altText}}">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="platinum-item-inner">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- /.platinum-sponsor -->
                {% assign goldSponsors = sponsors.goldSponsors %}
                {% if goldSponsors %}
                <div class="ccr-sponsor">
                    <h3 class="sponsor-title">Gold Sponsors</h3>
                    <div class="supporters">

                        {% assign goldSponsors = sponsors.goldSponsors %}
                        {% for sponsor in goldSponsors %}
                        {% assign indexOffset = forloop.index | modulo: 2 %}
                        {% if indexOffset == 1 %}
                        <div class="row">
                                <div class="col-sm-3 col-md-3">
                                        <div class="gold-item-inner">
                                        </div>
                                    </div>
                        {% endif %}
                        <div class="col-sm-3 col-md-3">
                                <div class="gold-item-inner">
                                        <a href="{{sponsor.siteUrl}}" target="_blank">
                                            <img class="gold-item-large" src="{{ site.baseurl }}{{sponsor.imagePath}}" alt="{{altText}}">
                                        </a>
                                    </div>
                            </div>

                        {% if indexOffset == 0 %}
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div><!-- /.gold-sponsor -->
                {% endif %}
                {% assign silverSponsors = sponsors.silverSponsors %}
                {% if silverSponsors %}
                <div class="ccr-sponsor">
                    <h3 class="sponsor-title">Silver Sponsors</h3>
                    <div class="supporters">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-6 col-md-6 col-md-offset-3">
                                <div class="sponsor-container silver">
                                {% for sponsor in silverSponsors %}

                                <div class="silver-item-inner">
                                    <a href="{{sponsor.siteUrl}}" target="_blank">
                                            <img class="silver-item" src="{{ site.baseurl }}{{sponsor.imagePath}}" alt="{{altText}}">
                                    </a>
                                </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.silver-sponsor -->
                {% endif %}
            </div><!-- /.sponsor-wrapper -->
        </div><!-- /.row -->
    {% else %}
    <div class="row">
        <div class="section-head">
            <h2 class="header-title">Check Back Soon for Sponsor Announcements</h2>
            <h3><a href="{{ site.baseurl }}#becomeASponsor">Become a Sponsor</h3>
        </div>
    </div>

    {% endif %}
    </div><!-- /.container -->
</section>