<section id="workshop" class="call-for-paper">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="become-sponsor-item">
						<h2>Workshops</h2>
						<p>The workshops will take place the day before the conference, on Wed 25th of September, with 2 workshop formats: "Deep Dive" (8 hours) or "Taster" (4 hours).</p>
					</div>
				</div><!-- /.row -->
			</div><!-- /.col-md-10 -->
		</div>
		{% if site.data.workshops %}
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div>
						<a href="https://www.eventbrite.com/e/open-fsharp-2018-the-conference-to-connect-with-f-and-its-community-tickets-38246274637" class="custom-btn hvr-bounce-to-bottom">Buy ticket</a>
						<a href="{{ site.baseurl }}agenda/workshop" class="custom-btn hvr-bounce-to-bottom">Available workshops</a>
					</div>
				</div>
			</div><!-- /.col-md-2 -->
		</div><!-- /.row -->
		{% endif %}
	</div><!-- /.container -->
</section>
