<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
<body>
    {% include header.html %}

    <section id="header" class="become-sponsor">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="become-sponsor-item">
                            <h2>{{ page.title }}</h2>
                            <p>{{ page.category }}</p> 
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.col-md-10 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <section id="about" class="national-conference speaker">
        <div class="container">
            {{ content }}
        </div>
    </section>

    {% include footer.html %}
    {% include ga.html %}
	
</body>
</html>
